@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  text-align: center;
}
button {
  background-color: rgb(20, 148, 20);
  padding: 1rem 2rem;
  border-radius: 23px;
  transition: all 1s;
}
button:hover {
  background-color: rgb(13, 104, 13);
}
